app/n8n/workflows/data_ingestion.json
{
  "name": "Traffic Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://apis.smartcity.hn/bildungscampus/iotplatform/trafficsensor/v1/authGroup/trafficsensor_devices/entityId",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "x-apikey",
              "value": "={{ $env.SMARTCITY_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "fetch-smartcity",
      "name": "Fetch SmartCity API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Request Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || response;\n\n// SmartCity API returns entities array\nconst entities = Array.isArray(body) ? body : (body.entities || body.data || []);\n\nconst rows = [];\nconst now = new Date().toISOString();\n\nfor (const entity of entities) {\n  const sensorId = entity.id || entity.entityId || 'unknown';\n  const timestamp = entity.timestamp || entity.dateObserved || now;\n\n  // Extract vehicle counts from entity attributes\n  const vehicleTypes = {\n    car: entity.car || entity.carCount || 0,\n    truck: entity.truck || entity.truckCount || 0,\n    motorbike: entity.motorbike || entity.motorbikeCount || 0,\n    bicycle: entity.bicycle || entity.bicycleCount || 0,\n    pedestrian: entity.pedestrian || entity.pedestrianCount || 0\n  };\n\n  // Also check for lane-based data structure\n  if (entity.lanes) {\n    for (const lane of entity.lanes) {\n      if (lane.classes) {\n        for (const cls of lane.classes) {\n          const vType = cls.class || cls.type || 'unknown';\n          const count = cls.count || 0;\n          if (count > 0) {\n            rows.push({ sensor_id: sensorId, timestamp, vehicle_type: vType, count });\n          }\n        }\n      }\n    }\n  }\n\n  // Add flat vehicle counts\n  for (const [vType, count] of Object.entries(vehicleTypes)) {\n    if (count > 0) {\n      rows.push({ sensor_id: sensorId, timestamp, vehicle_type: vType, count });\n    }\n  }\n}\n\nif (rows.length === 0) {\n  rows.push({ sensor_id: 'none', timestamp: now, vehicle_type: 'none', count: 0, _empty: true });\n}\n\nreturn rows.filter(r => !r._empty).map(r => ({ json: r }));"
      },
      "id": "transform-data",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ readings: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "post-to-backend",
      "name": "POST to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -60]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst errorMsg = input.error || input.message || 'API request failed';\nconst statusCode = input.statusCode || 'unknown';\n\nconsole.log(`SmartCity API error: status=${statusCode}, message=${errorMsg}`);\n\nreturn [{ json: { error: true, statusCode, message: errorMsg, timestamp: new Date().toISOString() } }];"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 120]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Fetch SmartCity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SmartCity API": {
      "main": [
        [
          {
            "node": "Request Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Succeeded?": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "POST to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "traffic"
    },
    {
      "name": "ingestion"
    }
  ]
}
